extends /common/html/layouts/default

block append variables
  - title = 'Interview Questions | Nathan Buchar - Software Engineer';
  - includeFooter = false;

block content
  include:markdown(anchors) index.md
