extends /common/html/layouts/default

block append variables
  - var title = 'Interview Questions | Nathan Buchar - Software Engineer';
  - var includeFooter = false;

block content
  include:md index.md
