extends /common/pug/layouts/default

block append variables
  - title = 'Frontend interview questions | Nathan Buchar - Software Engineer';
  - includeFooter = false;

block content
  include:markdown-it index.md
