extends /common/pug/layouts/default

block append variables
  - var title = 'PGP Key | Nathan Buchar - Software Engineer';
  - var includeFooter = false;
  
block append head
  meta(name='date' content='Oct. 30, 2018')

block content
  pre
    code
      include ../../static/pgp-key.txt
