extends /common/pug/layouts/default

block append variables
  - var title = 'Thunk Support in React | Nathan Buchar - Software Engineer';
  
block append head
  meta(name='date' content='Mar. 9, 2019')

block content
  include:md index.md
