extends /common/html/layouts/default

block append variables
  - title = 'Good Design | Nathan Buchar - Software Engineer';
  - includeFooter = false;
  
block append head
  meta(name='date' content='Oct. 14, 2019')

block content
  include:markdown(anchors) index.md
