extends /common/html/layouts/default

block append variables
  - title = 'Not Everything | Nathan Buchar - Software Engineer';
  - includeFooter = false;
  
block append head
  meta(name='date' content='Feb. 12, 2020')

block content
  include:md(anchors) index.md
