extends /common/html/layouts/default

block append variables
  - title = 'How Much Flax Seed Could $150k Buy? | Nathan Buchar - Software Engineer';
  
block append head
  meta(name='date' content='May 10, 2016')

block content
  include:md(anchors) index.md
