extends /common/pug/layouts/default

block append variables
  - title = 'Hennessy.com | Nathan Buchar - Software Engineer';

block append head
  meta(name='date' content='Jan. 21, 2020')

block content
  include:markdown-it index.md
