* {
  box-sizing: border-box;
}

#wrapper {
  max-width: 544px;
  min-width: 320px;
  hyphens: auto;
  padding: 10vh 32px 32px;
  margin: 0 auto;
  text-wrap: pretty;
}

#main {
  margin-block: 32px 0;
}

footer {
  margin: 72px 0 0;
  text-align: center;
  font-size: smaller;
}

.tombstone {
  margin-top: 48px;
}

@media screen and (max-width: 768px) {
  #wrapper {
    padding: 48px 16px 32px;
  }

  #main {
    margin-block: 24px 0;
  }
}
