@import "./pigeon.css";

.nav {
  padding-bottom: 8px;
}

.nav .nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  padding: 0;
  margin: 0;
}

.nav a.active {
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
