.page {
  margin-block-start: 32px;
}

@media screen and (max-width: 768px) {
  .page {
    margin-block-start: 24px;
  }
}

.page header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 32px;
}

.page header h1 {
  margin: 0;
}

.page header h1 {
  display: inline-block;
}

.page .md {
/*  font-size: smaller;*/
}

.page .md svg {
  display: inline-block;
  width: 18px;
  height: auto;
  vertical-align: middle;
  margin-top: -1px;
  color: inherit;
}

.page header time {
  white-space: nowrap;
}

.page .comments {
  margin-block-start: 32px;
  margin-block-end: 32px;
}

.page .posts ol {
  list-style-type: none;
  padding: 0;
}

.page .posts li {
  padding-bottom: 24px;
  text-align: left;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.page .posts li > * {
  min-width: 72px;
}

.page .posts li a {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .page .posts li {
    flex-direction: column;
  }
}

.page .posts .pinned {
  font-weight: bold;
}

.page .rss,
.page .md {
  font-weight: normal;
}