.pigeon-button {
  position: relative;
}

.pigeon-button .pigeon {
  display: block;
  width: 56px;
  height: 56px;
  animation-name: hop-with-delay;
  animation-duration: calc(0.5s * 7);
  animation-iteration-count: infinite;
  animation-delay: 8s;
  animation-timing-function: ease-in-out;
}

.pigeon-button .pigeon:hover,
.pigeon-button .pigeon:active {
  display: block;
  width: 56px;
  height: 56px;
  animation-name: hop;
  animation-duration: 0.4s;
  animation-delay: 0s;
}

.pigeon-button .pigeon img {
  margin: -12px;

  /* Nice big 'ol hit box */
  padding: 12px;
}

@keyframes hop {
  0% {
    transform: translateY(0) rotateZ(-8deg) scaleY(0.9);
    animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
  }
  33% {
    transform: translateY(-8px) rotateZ(0deg) scaleX(0.9) scaleY(1.05);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
  }
  66% {
    transform: translateY(0) rotateZ(-8deg) scaleX(1.1) scaleY(0.9);
    animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
  }
}

@keyframes hop-with-delay {
  0% {
    transform: translateY(0) rotateZ(-8deg) scaleY(0.9);
    animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
  }
  4% {
    transform: translateY(-8px) rotateZ(0deg) scaleX(0.9) scaleY(1.05);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
  }
  8% {
    transform: translateY(0) rotateZ(-8deg) scaleX(1.1) scaleY(0.9);
    animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
  }
  12% {
    transform: translateY(-8px) rotateZ(0deg) scaleX(0.9) scaleY(1.05);
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
  }
  16% {
    transform: translateY(0);
  }
}

.pigeon-button .bird-blurb {
  position: absolute;
  left: 16px;
  top: -24px;
  background: #FFF;
  padding: 2px 8px;
  line-height: 22px;
  text-wrap: nowrap;
  animation: float 2s ease-in-out infinite, fadeIn 2s ease-out;
  font-size: smaller;
  font-style: italic;
}

.pigeon-button .bird-blurb::before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

@keyframes float {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-5px);
  }

  100% {
      transform: translateY(0);
  }
}
