html, body {
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  line-height: 24px;
  color: var(--text);
  background: var(--primary);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--emphasis);
  font-size: 14px;
  text-align: left;
  margin-top: 32px;
}

strong {
  color: var(--emphasis);
}

a {
  color: var(--secondary);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

a:hover {
  color: #903e36;

}

hr {
  border: none;
  height: 0;
  border-top: 1.5px dotted var(--subheading);
  margin: 48px 0;
}

ul,
ol {
  padding-left: 32px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 24px 0;
}

table th,
table td {
  padding: 4px 6px;
  border: 1px dotted var(--subheading);
  text-align: initial;
  hyphens: none;
}

blockquote {
  border-left: 4px solid var(--subheading);
  padding-left: 16px;
  margin: 24px 0;
  font-style: italic;
}

blockquote *:not(a) {
  opacity: 0.75;
}

sup,
sub {
  line-height: 0;
}

img,
eqn {
  max-width: 100%;
  margin: 24px auto;
  display: block;
}

eq,
eqn {
  font-size: 14px
}

eqn {
  overflow: auto;
}

pre {
  margin: 24px 0;
  padding: 12px 16px;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, 0.1);
}

pre code {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 20px;
}

code {
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: "Inconsolata", monospace;
}

.footnotes {
  font-size: small;
  line-height: 1.35rem;
}

.footnote-ref {
  position: relative;
  font-size: small;
}

.footnote-ref:hover .footnote-snippet {
  display: block;
}

.footnote-ref a:hover {
  text-decoration: underline;
}

.footnote-item a {
  /* text-decoration: underline; */
  word-break: break-all;
}

.footnote-backref {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  html, body {
    font-size: 15px;
    line-height: 25px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 15px;
  }
}
