extends /common/html/layouts/default

block append variables
  - title = 'Weighted Random | Nathan Buchar - Software Engineer';
  
block append head
  meta(name='date' content='Oct. 25, 2016')

block content
  include:markdown(anchors) index.md
