extends /common/pug/layouts/default

block append variables
  - var title = 'Weighted Random | Nathan Buchar - Software Engineer';
  
block append head
  meta(name='date' content='Oct. 25, 2016')

block content
  include:md index.md
