@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  src: url(../../global/fonts/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: 700;
  src: url(../../global/fonts/Inconsolata-Bold.ttf);
}
