@font-face {
  font-family: 'Inconsolata';
  src: url('../../global/fonts/inconsolata-regular-webfont.woff2') format('woff2'),
       url('../../global/fonts/inconsolata-regular-webfont.woff') format('woff'),
       url('../../global/fonts/inconsolata-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../global/fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../../global/fonts/opensans-regular-webfont.woff') format('woff'),
       url('../../global/fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
