* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  font-family: "Inconsolata", monospace;
  font-size: 13px;
  line-height: 23px;

  a {
    color: get-color("blue");
    text-decoration: underline;
  }
}
