@import "vendor/hljs/github-gist";

.hljs {
  font-family: 'Inconsolata', monospace;
  background-color: get-color('gray70');
  padding: 1em;
  border-radius: 2px;
  font-size: 13px;
  line-height: 16px;

  blockquote & {
    color: get-color('gray20');
  }
}
