h1, h2, h3, h4, p, li, blockquote, code {
  margin: 0;

  * + & {
    margin-top: 16px;
  }
}

h1, h2, h3, h4 {
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
}

h1 {
  font-size: 42px;
  padding-bottom: 6px;
  border-bottom: 3px solid get-color('gray50');
  line-height: 48px;

  * + & {
    margin-top: 40px;
  }
}

h2 {
  font-size: 22px;
  padding-bottom: 4px;
  border-bottom: 1px solid get-color('gray50');

  * + & {
    margin-top: 36px;
  }
}

h3 {
  font-size: 18px;

  * + & {
    margin-top: 32px;
  }
}

h4 {
  font-size: 15px;
  line-height: 20px;
  color: get-color('gray10');
}

ul {
  padding-left: 30px;

  ul {
    padding-left: 15px;
  }
}

p, li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 18px;
  color: get-color('gray10');
}

li {
  margin: 8px 0;
}

a {
  color: get-color("blue");
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid get-color('gray50');
  margin: 24px 0;
}

code {
  font-family: 'Inconsolata', monospace;
  background-color: get-color('gray70');
  border-radius: 2px;
  padding: 2px 4px;
  color: #d73a49;

  pre &:not(.hljs) {
    // Hide code blocks until highlight.js has had a chance
    // to highlight them.
    display: none;
  }
}

blockquote {
  border-left: 4px solid get-color('gray60');
  padding-left: 10px;

  * {
    color: get-color('gray20');
  }
}

img {
  max-width: 100%;
}
