extends /common/pug/layouts/default

block append variables
  - title = 'Wheeler-Dealer game strategies | Nathan Buchar - Software Engineer';

block append head
  meta(name='date' content='May 7, 2020')

block content
  include:markdown(anchors) index.md
