extends /common/pug/layouts/default

block append variables
  - title = 'Hotdog bun garlic bread | Nathan Buchar - Software Engineer';
  - includeFooter = false;

block append head
  meta(name='date' content='Jun. 14, 2020')

block content
  :markdown-it
    The halves of hotdog buns are _great_ for making garlic bread.
