extends /common/pug/layouts/default

block append variables
  - title = 'Gummy sort | Nathan Buchar - Software Engineer';

block append head
  meta(name='date' content='May 3, 2018')

block content
  include:markdown-it index.md
