extends /common/html/layouts/default

block append variables
  - title = 'Gummy Sort | Nathan Buchar - Software Engineer';
  
block append head
  meta(name='date' content='May 3, 2018')

block content
  include:md(anchors) index.md
