extends ../../global/pug/layouts/default

block append variables
  - var title = 'Gummy Sort | Nathan Buchar - Software Engineer';
  
block append head
  meta(name='date' content='May 3, 2018')

block append scripts
  script(src='index.js')

block content
  include:markdown-it(linkify breaks html typographer) index.md
