h1, h2, h3, h4, h5, h6, p, td, th, blockquote, img, code, details {
  margin: 16px 0;
}

li {
  margin: 12px 0;
}

pre, table {
  margin: 24px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: get-font("heading");
  font-weight: normal;
  color: get-color("black");

  .header-anchor {
    display: none;
    color: get-color('gray40');
    text-decoration: none;
  }

  &:hover {
    .header-anchor {
      display: unset;
    }
  }
}

h1, h2 {
  padding-bottom: 4px;
  border-bottom-style: solid;
  border-bottom-color: get-color("gray50");
}

h1 {
  font-size: 38px;
  line-height: 48px;
  border-bottom-width: 4px;

  * + & {
    margin-top: 42px;
  }
}

h2 {
  font-size: 28px;
  line-height: 32px;
  border-bottom-width: 1px;

  * + & {
    margin-top: 36px;
  }
}

h3 {
  font-size: 24px;
  line-height: 24px;

  * + & {
    margin-top: 30px;
  }
}

h4 {
  font-size: 20px;
  line-height: 20px;

  * + & {
    margin-top: 24px;
  }
}

h5, h6 {
  * + & {
    margin-top: 14px;
  }
}

h5, h6 {
  font-size: 15px;
}

p, li, td, th, details, summary {
  font-size: 14px;
  line-height: 23px;
  color: get-color("gray10");
}

p, li, td, th, details, summary {
 font-family: get-font("body");
}

h6 {
  color: get-color("gray20");
}

a {
  color: get-color("blue");
}

ol, ul {
  list-style: revert;
  padding-left: 30px;
}

hr {
  border: none;
  border-bottom: 1px solid get-color("gray50");
  margin: 28px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    border-top: 1px solid get-color("gray50");

    &:nth-child(2n) {
      background-color: get-color("gray70");
    }
  }

  th, td {
    border: 1px solid get-color("gray50");
    padding: 6px 12px;
  }
}

details {
  summary {
    cursor: pointer;
    font-weight: bold;
  }
}

pre, code {
  font-family: get-font("code");
  font-size: 13px;
  background-color: get-color("gray70");
}

pre {
  padding: 12px 16px;
  line-height: 20px;
  overflow-x: auto;

  code {
    color: get-color("gray10");
    padding: 0;
  }
}

code {
  color: get-color("red");
  padding: 2px 4px;
}

blockquote {
  border-left: 4px solid get-color("gray50");
  padding-left: 12px;

  *:not(a) {
    color: get-color("gray20");
  }
}

img {
  max-width: 100%;
}
