$roboto-slab: 'Roboto Slab';
$roboto-mono: 'Roboto Mono';
$open-sans: 'Open Sans';

$colors: (
  "black": #000000,
  "blue": #0000EE,
  "red": #D73A49,
  "gray10": #2e2e33,
  "gray20": #81818b,
  "gray30": #b4b4be,
  "gray40": #d7d8de,
  "gray50": #e8e9ee,
  "gray60": #f2f3f5,
  "gray70": #f6f7f8,
  "white": #ffffff,
);

$icon-sizes: (
  "xsmall": 15px,
  "small": 28px,
  "medium": 36px,
  "large": 48px,
  "xlarge": 64px
);

$fonts: (
  "heading": ($roboto-slab, serif),
  "body": ($open-sans, sans-serif),
  "code": ($roboto-mono, monospace)
);
