extends /common/pug/layout

block content
  section
    include:markdown index.md
  section
    include:markdown
      ## What's new?
      - Jun 2022. My partner and I are living in Michigan part-time while restoring a mid-century modern home. Follow along on [@currinresidence](https://instagram.com/currinresidence).
      - Apr 2022. I created a [Columbiformes expansion pack](/wingspan-pigeons) for the delightfully nerdy and birdy boardgame _Wingspan_.
      - Dec 2021. I bought an e-ink tablet and have developed a way to automatically upload the daily NYT crossword to the device every morning. I wrote about it [here](/automatically-uploading-the-nyt-crossword-supernote).
      - Nov 2020. Afraid you sound like crap on Zoom but everyone's been really polite about it and haven't said anything? Visit doisoundlikecrap.com, a site I developed to help test your microphone.
