extends /common/pug/layouts/default

block append variables
  - title = 'Bounce | Nathan Buchar - Software Engineer';

block append head
  meta(name='date' content='Apr. 16, 2020')

block body
  #canvas
    #block
      a(href='https://hellosign.com')
        +icon('hellosign', 'xlarge', 'color-white')
