{% extends "common/html/layouts/default.njk" %}

{% block content %}
  <div class="row">
    <div class="col">
      <p class="mt-0">Nathan Buchar is a San Francisco-based software engineer currently working at <a href="https://hellosign.com/" rel="no-referer no-follow">HelloSign, a Dropbox Company</a>. His best work explores JavaScript performance and best practices, open source, and Node.js. His passion is solving puzzles and making things that other developers use to make things.</p>
      <p class="my-0">He also volunteers with a <a href="http://pigeonrescue.org" rel="no-referer no-follow">pigeon and dove rescue</a>.</p>
    </div>
  </div>
{% endblock %}
