link(
  rel='stylesheet'
  href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-grid.min.css'
  integrity='sha384-rCcl0/HQvbvpTrAC/9W17ZQ8hWQl3IaM/oJPOo8pJpBXRGPrTw9zaYtrsPeFDvfV'
  crossorigin='anonymous'
)
