<div class="row pt-4 pt-sm-5">
  <div class="col">
    <p class="my-0">&mdash;</p>
    <p class="my-0"><a href="http://github.com/nathanbuchar">GitHub</a></p>
    <p class="my-0"><a href="mailto:hello@nathanbuchar.com">hello@nathanbuchar.com</a></p>
  </div>
</div>
