block variables
  - var title = 'Nathan Buchar - Software Engineer';
  - var description = 'Nathan Buchar is a San Francisco-based frontend software engineer.';
  - var includeFooter = true;
  - var includeCopyright = true;
