block variables
  - let title = 'Nathan Buchar - Software Engineer';
  - let description = 'Nathan Buchar is a San Francisco-based frontend software engineer.';
  - let keywords = ['nathan buchar', 'frontend', 'software engineer', 'engineer', 'web developer'];
  - let includeFooter = true;
  - let includeCopyright = true;
