doctype html

include /common/html/includes/variables
include /common/html/includes/mixins

html(lang='en' dir='ltr')
  head
    block head
      meta(charset='utf-8')
      title=title
      meta(name='author' content='Nathan Buchar')
      meta(name='description' content=description)
      meta(name='keywords' content=keywords.join(','))
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel='icon' href='/favicon.ico')  
        
      include /common/html/includes/ga
      include /common/html/includes/fonts
  body
    a.skip-link(href='#main' tab-index='1')
      | Skip to main content
    .container
      .row.py-2.py-sm-5
        .col.col-sm-10.col-md-8.col-lg-6
          .row.py-4
            .col
              nav
                a(href='/' aria-label='Click to go back to the homepage')
                  +icon('pigeon', 'small', 'pigeon')
          .row
            .col
              main#main
                block content
                  //- Page content goes here.
          if includeFooter
            .row.py-4
              .col
                footer
                  .row
                    .col
                      hr
                      p.my-0
                        a(href='https://github.com/nathanbuchar')
                          | GitHub
                      p.my-0
                        a(href='mailto:hello@nathanbuchar.com')
                          | hello@nathanbuchar.com
                      if includeCopyright
                        p.my-4
                          | Copyright &copy; #{(new Date()).getFullYear()} Nathan Buchar. All rights reserved.
