<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Nathan Buchar - Software Engineer{% endblock %}</title>
    <meta name="description" content="{% block description %}Nathan Buchar is a San Francisco-based software engineer.{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% include "common/html/includes/bootstrap.njk" %}
    {% include "common/html/includes/fonts.njk" %}
    {% include "common/html/includes/ga.njk" %}
  </head>
  <body>
    <div role="main">
      <div class="container">
        <div class="row py-4 py-sm-5">
          <div class="col col-sm-6">
            {% include "common/html/includes/header.njk" %}
            <div class="row pt-4 pt-sm-5">
              <div class="col">
                {% block content %}
                  {# Page content goes here. #}
                {% endblock %}
              </div>
            </div>
            {% include "common/html/includes/footer.njk" %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
