<script
  src="https://giscus.app/client.js"
  data-repo="nathanbuchar/n8.engineer"
  data-repo-id="MDEwOlJlcG9zaXRvcnkxNzM2NDE1NDg"
  data-category="Comments"
  data-category-id="DIC_kwDOClmPTM4CU36A"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="0"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="{{ env.origin }}/css/giscus.css"
  data-lang="en"
  data-origins="['http://localhost:3000', 'https://n8.engineer', 'https://nathanbuchar.com', 'https://naaaaaaaaaaaaaaaate.com']"
  crossorigin="anonymous"
  async>
</script>