<giscus-widget
  id="comments"
  repo="nathanbuchar/n8.engineer"
  repoid="MDEwOlJlcG9zaXRvcnkxNzM2NDE1NDg="
  category="Comments"
  categoryid="DIC_kwDOClmPTM4CU36A"
  mapping="pathname"
  reactionsenabled="0"
  emitmetadata="0"
  inputposition="bottom"
  theme="{{ env.origin }}/css/giscus.css"
  lang="en"
  loading="lazy"
>
  <p>Loading…</p>
</giscus-widget>
