<nav id="nav">
  <ul>
    <span>
      <li>
        <a href="/" id="pigeon" title="{{ '〜Coo〜Coo〜' if url == '/' else '⬿ Fly home' }}">
          <img src="/img/pigeon-1024.gif" />
        </a>
      </li>
    </span>
    <span>
      <li>
        <a href="/blog" class="{{ 'active' if blogPost or url == '/blog' }}">
          blog
        </a>
      </li>
      <li>
        <a href="/guestbook" class="{{ 'active' if url == '/guestbook' }}">
          guestbook
        </a>
      </li>
      <li>
        <a href="/rss.xml" title="RSS feed">
          <img id="feed" src="/img/feed.png" />
        </a>
      </li>
    </span>
  </ul>
</nav>
