<div class="posts">
  <ol>
    {% for post in posts %}
      <li>
        <time datetime="{{ post.fields.date | dateToUTC }}">
          {{ post.fields.date }}
        </time>
        <div>
          <a href="{{ post.fields.url }}">
            {% if post.fields.pinned %}
              <span class="pinned">
                [Pinned]
              </span>
            {% endif %}
            {{ post.fields.title }}
          </a>
        </div>
      </li>
    {% endfor %}
    {% if showMore %}
      <li>
        <div></div>
        <div>
          <a href="/posts">[more…]</a>
        </div>
      </li>
    {% endif %}
  </ol>
</div>
