<div class="posts">
  <ol>
    {% for post in posts %}
      <li>
        <time datetime="{{ post.fields.date | dateToUTC }}">
          {{ post.fields.date }}
        </time>
        <a href="{{ post.fields.url }}">
          {% if post.fields.pinned %}
            <span class="pinned">
              [Pinned]
            </span>
          {% endif %}
          {{ post.fields.title }}
        </a>
      </li>
    {% endfor %}
    {% if showMore %}
      <li>
        <div></div>
        <a href="/posts">[more…]</a>
      </li>
    {% endif %}
  </ol>
</div>
