#blog ol {
  list-style-type: none;
  padding: 0;
}

#blog li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 16px;
}

#blog li .pin {
  margin-left: -17.5px;
  font-size: 11px;
}

@media screen and (max-width: 425px) {
  #blog li {
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }

  #blog li .pin {
    margin-left: 0;
  }

  #blog li time {
    font-size: 12.5px;
  }
}

#blog li > *:first-of-type {
  padding-right: 32px;
  text-align: left;
}

#blog li time {
  white-space: nowrap;
}
