#blog ol {
  list-style-type: none;
  padding: 0;
}

#blog li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 16px;
}

#blog li.pinned::before {
  content: "📌";
  position: absolute;
  left: 0;
  margin-left: -20px;
  font-size: 11px;
  line-height: 26px;
}

#blog li > *:first-of-type {
  padding-right: 32px;
  text-align: left;
}

#blog li time {
  white-space: nowrap;
}
