@import "./variables.css";
@import "./fonts.css";
@import "./theme.css";

.gsc-main {
  --color-border-primary: var(--subheading);
  --color-text-link: var(--secondary);

  --color-border-primary: var(--subheading);
  --color-btn-primary-disabled-text: var(--subheading);
  --color-btn-primary-disabled-border: var(--subheading);
  --color-btn-primary-text: var(--secondary);
  --color-btn-primary-border: var(--secondary);
  --color-btn-primary-hover-border: var(--emphasis);
  --color-btn-primary-hover-bg: var(--emphasis);

  font-family: "Inconsolata", monospace;
  font-size: 13.5px !important;
  line-height: 24px;
  color: var(--text);
  background: var(--primary);

  /* Prevent right border from disappearing due to subpixel rounding */
  width: calc(100% - 1px);
}

.gsc-main .text-sm,
.gsc-comment-edited {
  font-size: 12.5px !important;
}

.gsc-main .btn:disabled {
  cursor: not-allowed;
}

.gsc-main button.link-secondary {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.gsc-main button.link-secondary:hover {
  color: var(--emphasis);
  border-color: var(--emphasis);
}

.gsc-header {
  display: none;
}

.gsc-comments-count,
.gsc-reactions-count {
  color: var(--emphasis);
  text-align: left;
  margin-top: 32px;
  font-size: 13.5px;
  line-height: 26px;
}

.gsc-comments-count-separator,
.gsc-replies-count {
  display: none;
}

.gsc-right-header {
  display: none;
}

.gsc-comment {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.gsc-comment .rounded-md {
  border-radius: 0;
}

.gsc-comment-box,
.gsc-comment-box:not(.gsc-comment-box-is-reply),
.gsc-comment-box-main,
.gsc-comment-box-write,
.gsc-comment-box-textarea {
  margin: 0;
  border-radius: 0;
  border: none;
  font-size: 13.5px;
  line-height: 26px;
}

.gsc-comment-box-textarea {
  border: 1.5px dotted var(--color-border-primary);
}

.gsc-comment-box-textarea:focus {
  box-shadow: none;
}

.gsc-comment-box-textarea::placeholder {
  color: var(--secondary);
  opacity: 0.35;
}

.gsc-comment-box-textarea-extras {
  display: none;
}

.gsc-comment-box-write:focus-within {
  box-shadow: none;
}

.gsc-comment-box-bottom {
  margin-left: 0;
  margin-right: 0;
}

/* Log out button */
.gsc-comment-box-bottom .link-secondary,
.gsc-comment-edited {
  color: var(--secondary);
}

.gsc-comment-box-bottom .link-secondary svg {
  display: none !important;
}

.gsc-comment-box-buttons .btn {
  border-radius: 0 !important;
  border: none;
  font-size: 13.5px;
  padding: 4px 10px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.gsc-comment-box-buttons .btn:hover:not(:disabled),
.gsc-comment-box-buttons .btn:active:not(:disabled) {
  border-color: var(--color-btn-primary-hover-border);
  color: var(--primary);
}

.gsc-comment {
  margin: 8px 0;
}

.gsc-comment p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.gsc-comment,
.gsc-comment *:not(pre):not(code) {
  border: none;
  font-size: 13.5px;
  line-height: 26px;
}

.gsc-comment pre {
  margin: 24px 0;
}

.gsc-comment pre,
.gsc-comment pre > *,
.gsc-comment code,
.gsc-comment code > * {
  border-radius: 0 !important;
  font-size: 12px !important;
  line-height: 20px !important;
}

.gsc-comment pre {
  margin: 0;
  padding: 12px 16px;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.gsc-comment pre code {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 20px;
}

.gsc-comment code {
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: "Inconsolata", monospace;
}

@media screen and (max-width: 768px) {
  .gsc-comment,
  .gsc-comment *:not(pre):not(code) {
    font-size: 13.5px;
  }

  .gsc-comment pre,
  .gsc-comment pre > *,
  .gsc-comment code,
  .gsc-comment code > * {
    font-size: 13.5px !important;
  }
}

.gsc-comment-header {
  padding-left: 0;
  padding-right: 0.65em;
}

.gsc-comment-author {
  padding: 0;
}

.gsc-comment-author-avatar img {
  display: none;
}

.gsc-comment-author .gsc-comment-author-avatar + a {
  display: none;
}

.gsc-comment-content {
  padding: 0;
}

.gsc-comment .zeroclipboard-container {
  display: none;
}

.gsc-comment-footer {
  display: none;
}

.gsc-replies {
  display: none;
}

.gsc-reply-box {
  display: none;
}

.gsc-reactions-popover {
  background: var(--primary);
}

.gsc-comment-box-tabs {
  display: none;
}

.gsc-timeline {
  flex-direction: column-reverse;
}
