* {
  box-sizing: border-box;
}

#wrapper {
  max-width: 544px;
  min-width: 320px;
  text-align: justify;
  hyphens: auto;
  padding: 8vw 32px 64px;
  margin: 0 auto;
}

#main {
  margin-block: 32px 0;
}

footer {
  margin: 72px 0 0;
  text-align: center;
}

footer ul {
  display: flex;
  align-items: center;
  column-gap: 12px;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #wrapper {
    padding: 56px 16px;
  }

  #main {
    margin-block: 24px 0;
  }
}

