@import "./pigeon.css";

#nav {
  margin: 0;
  padding: 0;
}

#nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

#nav ul span {
  display: flex;
  align-items: center;
}

#nav ul span li:not(:first-of-type) {
  padding-left: 16px;
}

#nav a.active {
  font-weight: bold;
}

#nav #feed {
  margin: 0;
}
