.page {
  margin-block-start: 32px;
}

@media screen and (max-width: 768px) {
  .page {
    margin-block-start: 24px;
  }
}

.page header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page header h1 {
  margin: 0;
}

.page header h1 {
  padding-right: 32px;
  text-align: left;
}

.page header time {
  white-space: nowrap;
}

.page .comments {
  margin-block-start: 32px;
  margin-block-end: 32px;
}

.page .posts ol {
  list-style-type: none;
  padding: 0;
}

.page .posts li {
  padding-bottom: 24px;
  text-align: left;
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.page .posts li * {
  min-width: 72px;
}

@media screen and (max-width: 768px) {
  .page .posts li {
    flex-direction: column;
  }
}

.page .posts .pinned {
  font-weight: bold;
}

.page .rss {
  font-weight: normal;
}