.page {
  margin-block-start: 32px;
}

@media screen and (max-width: 425px) {
  .page {
    margin-block-start: 24px;
  }
}

.page header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page header h1 {
  margin: 0;
}

.page header h1 {
  padding-right: 32px;
  text-align: left;
}

.page header time {
  white-space: nowrap;
}

.page .comments {
  margin-block-start: 32px;
  margin-block-end: 32px;
}

.page .posts ol {
  list-style-type: none;
  padding: 0;
}

.page .posts li {
  padding-bottom: 16px;
  text-align: left;
}

.page .posts li > *:first-of-type {
  padding-right: 32px;
  text-align: left;
}

.page .posts .pinned {
  font-weight: bold;
}

.page .posts .rss {
  font-weight: normal;
}
