:root {
  --light-primary: #c0c0be;
  --light-secondary: #000000;
  --light-text: #262611;
  --light-emphasis: #201515;
  --light-subheading: #a4a4a0;

  /* --dark-primary: #201515;
  --dark-secondary: #bf5d54;
  --dark-emphasis: #ceb5b5;
  --dark-text: #bf9d9d;
  --dark-subheading: #6e4440; */
}

:root {
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --text: var(--light-text);
  --emphasis: var(--light-emphasis);
  --subheading: var(--light-subheading);

  /* --inverse-primary: var(--dark-primary);
  --inverse-emphasis: var(--dark-emphasis);
  --inverse-text: var(--dark-text);
  --inverse-subheading: var(--dark-subheading); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: var(--dark-primary);
    --secondary: var(--dark-secondary);
    --text: var(--dark-text);
    --emphasis: var(--dark-emphasis);
    --subheading: var(--dark-subheading);

    --inverse-primary: var(--light-primary);
    --inverse-emphasis: var(--light-emphasis);
    --inverse-text: var(--light-text);
    --inverse-subheading: var(--light-subheading);
  }
} */
