/**
 * Fills the parent selector's parent container.
 *
 * Example:
 *
 *   .foo {
 *     @include fill-parent;
 *   }
 *
 */
@mixin fill-parent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
