h1, h2, h3, h4, h5, h6, p, dt, dd, li, td, th, blockquote, code, table {
  margin: 0;

  * + & {
    margin-top: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  color: get-color('black');
}

h1 {
  font-size: 42px;
  padding-bottom: 8px;
  border-bottom: 4px solid get-color('black');
  line-height: 48px;

  * + & {
    margin-top: 40px;
  }
}

h2 {
  font-size: 28px;
  padding-bottom: 4px;
  border-bottom: 1px solid get-color('gray50');

  * + & {
    margin-top: 36px;
  }
}

h3 {
  font-size: 22px;

  * + & {
    margin-top: 32px;
  }
}

h4 {
  font-size: 18px;

  * + & {
    margin-top: 24px;
  }
}

h5, h6 {
  font-size: 15px;
  line-height: 24px;
  color: get-color('gray10');

  * + & {
    margin-top: 18px;
  }
}

h6 {
  color: get-color('gray20');
}

ul {
  padding-left: 30px;

  ul {
    padding-left: 15px;
  }
}

p, li, td, th, dt, dd {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 18px;
  color: get-color('gray10');
}

dt {
  margin-bottom: 0;
  font-weight: bold;
}

dd {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  margin: 8px 0;
}

a {
  color: get-color("blue");
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid get-color('gray50');
  margin: 24px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    border-top: 1px solid get-color('gray50');

    &:nth-child(2n) {
      background-color: get-color('gray70');
    }
  }

  th, td {
    padding: 6px 13px;
    border: 1px solid get-color('gray50');
  }
}

pre {
  background-color: get-color('gray70');
  padding: 1em;
  border-radius: 2px;
  font-size: 13px;
  line-height: 20px;
  overflow-x: auto;

  blockquote & {
    color: get-color('gray20');
  }

  code:not(.hljs) {
    display: none; // Do not show code blocks until highlighted.
  }
}

code {
  font-family: 'Roboto Mono', monospace;
  background-color: get-color('gray70');
  border-radius: 2px;
  padding: 2px 4px;
}

blockquote {
  border-left: 4px solid get-color('gray60');
  padding-left: 10px;

  * {
    color: get-color('gray20');
  }

  a {
    color: get-color('blue');
  }
}

img {
  max-width: 100%;
}
