$colors: (
  "black": #000000,
  "blue": #0000EE,
  "gray10": #2e2e33,
  "gray20": #81818b,
  "gray30": #b4b4be,
  "gray40": #d7d8de,
  "gray50": #e8e9ee,
  "gray60": #f2f3f5,
  "gray70": #f6f7f8,
  "white": #ffffff,
);

$icon-sizes: (
  "xsmall": 1em,
  "small": 2em,
  "medium": 3em,
  "large": 4em,
  "xlarge": 5em
);

$fonts: (
  "slab": ('Roboto Slab', serif),
  "sans": ('Open Sans', sans-serif),
  "mono": ('Roboto Mono', monospace)
);
