$colors: (
  "cerulean": #00b3e6
);

$blue: rgb(0, 0, 255); // Use plain blue
$spacer: 2rem;

$font-size-base: 0.875rem; // About 14px
$font-family-sans-serif: "Fira Sans", sans-serif;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: "Fira Sans Extra Condensed", serif;
$h1-font-size: $font-size-base * 2.75;
$line-height-base: 1.643; // About 23px;

$icon-sizes: (
  "xsmall": 15px,
  "small": 28px,
  "medium": 36px,
  "large": 48px,
  "xlarge": 64px
);
