extends /common/pug/layouts/default

block append variables
  - title = 'Iterate (async) | Nathan Buchar - Software Engineer';

block append head
  meta(name='date' content='Aug. 8, 2018')

block content
  include:markdown-it index.md
