extends /common/html/layouts/default

block append variables
  - title = 'Iterate (Async) | Nathan Buchar - Software Engineer';
  
block append head
  meta(name='date' content='Aug. 8, 2018')

block content
  include:md(anchors) index.md
