extends /common/pug/layouts/default

block append variables
  - title = 'K-combinations | Nathan Buchar - Software Engineer';

block append head
  meta(name='date' content='May 10, 2016')

block content
  include:markdown-it index.md
