extends /common/html/layouts/default

block append variables
  - var title = 'Russian Spelling Rules | Nathan Buchar - Software Engineer';

block append head
  meta(name='date' content='Jun. 27, 2017')
  
block content
  include:md index.md
