extends /common/pug/layouts/default

block append variables
  - title = 'The Math of Wheeler-Dealer | Nathan Buchar - Software Engineer';

block append head
  meta(name='date' content='May 9, 2020')

block content
  include:markdown-it index.md
