{% extends "layout.njk" %}

{% set url = "/blog" %}
{% set title = "Blog" %}

{% block content %}
  <div class="page">
    <div class="blog">
      <ol>
        {% for page in pages | selectByField("blogPost") | sort(true, false, "fields.date") | sort(true, false, "fields.pinned") %}
          <li>
            <time datetime="{{ page.fields.date | dateToUTC }}">
              {{ page.fields.date }}
            </time>
            <br/>
            <a href="{{ page.fields.url }}">
              {{ "📌 " if page.fields.pinned }}
              {{ page.fields.title }}
            </a>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
