{% extends "layout.njk" %}

{% set url = "/guestbook" %}
{% set title = "Guestbook" %}

{% block content %}
  <div class="page">
    <h2>Drop a line</h2>
    {% include "parts/comments.njk" %}
  </div>
{% endblock %}
