{% extends "layout.njk" %}

{% set url = "/guestbook" %}
{% set title = "Guestbook" %}

{% block content %}
  <div id="guestbook" class="page">
    <h1>Guestbook</h1>
    {% include "parts/comments.njk" %}
  </div>
{% endblock %}
