<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>{{ title }} | Nate — Frontend engineer</title>
    {% else %}
      <title>Nate — Frontend engineer</title>
    {% endif %}
    <meta name="description" content="Nate is a frontend engineer who likes building things other people use to build things." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut-icon" href="images/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.7.0/styles/github.css" title="light" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.7.0/styles/github-dark.css" title="dark" disabled />
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="module" src="/js/main.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y1M6SX9D06"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Y1M6SX9D06');
    </script>
  </head>
  <body id="top">
    <div id="wrapper">
      <header>
        <nav id="nav">
          <ul>
            <li>
              <a href="/" id="pigeon" title="Go home">
                <img src="/img/pigeon-1024.gif" />
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <main id="main">
        {% block content %}
          {# Page content goes here. #}
        {% endblock %}
      </main>
      <div class="top">
        <a href="#top">[Top]</a>
      </div>
    </div>
  </body>
</html>
