{% extends "layout.njk" %}

{% block content %}
  <div class="page">
    {% if title %}
      <header>
        <div class="title">
          <h1>
            {{ title }}{% if blogPost -%}<sup class="md"><a title="Markdown version" href="{{ url }}.md">[.md]</a></sup>{%- endif %}
          </h1>
        </div>
        {% if date %}
          <time datetime="{{ date }}">
            {{ date }}
          </time>
        {% endif %}
      </header>
    {% endif %}
    {% if hero %}
      <img src="{{ hero.fields.file.url }}" />
    {% endif %}
    {{ content | markdown | safe }}
    {% if allowComments %}
      <div class="comments">
        <hr>
        <h2>Comments</h2>
        {% include "parts/comments.njk" %}
      </div>
    {% endif %}
    {% if showBlogList %}
      <hr>
      <h2>
        Recent Posts<sup class="rss"><a title="RSS" href="/rss.xml">[rss]</a></sup>
      </h2>
      {% set posts = pages | selectByField("blogPost") | sort(true, false, "fields.date") | sort(true, false, "fields.pinned") | batch(5) | first %}
      {% set showMore = true %}
      {% include "parts/posts.njk" %}
    {% endif %}
  </div>
{% endblock %}
