{% extends "layout.njk" %}

{% block content %}
  <div class="page">
    {% if title %}
      <header>
        <h1>{{ title }}</h1>
        {% if date %}
          <time datetime="{{ date }}">
            {{ date }}
          </time>
        {% endif %}
      </header>
    {% endif %}
    {% if hero %}
      <img src="{{ hero.fields.file.url }}" />
    {% endif %}
    {{ content | markdown | safe }}
    {% if allowComments %}
      <div class="comments">
        <hr>
        <h2>Comments</h2>
        {% include "parts/comments.njk" %}
      </div>
    {% endif %}
    {% if showBlogList %}
      <div class="posts">
        <hr>
        <h2>
          Recent Posts<sup class="rss"><a href="/rss.xml">[rss]</a></sup>
        </h2>
        <ol>
          {% for page in pages | selectByField("blogPost") | sort(true, false, "fields.date") | sort(true, false, "fields.pinned") | batch(5) | first %}
            <li>
              <time datetime="{{ page.fields.date | dateToUTC }}">
                {{ page.fields.date }}
              </time>
              <br/>
              <a href="{{ page.fields.url }}">
                {% if page.fields.pinned %}
                  <span class="pinned">
                    [Pinned]
                  </span>
                {% endif %}
                {{ page.fields.title }}
              </a>
            </li>
          {% endfor %}
        </ol>
        <p><a href="/posts">More…</a></p>
      </div>
    {% endif %}
  </div>
{% endblock %}
