{% extends "layout.njk" %}

{% set url = "/posts" %}
{% set title = "Posts" %}

{% block content %}
  <div class="page">
    {% set posts = pages | selectByField("blogPost") | sort(true, false, "fields.date") | sort(true, false, "fields.pinned") %}
    {% include "parts/posts.njk" %}
  </div>
{% endblock %}
