{% extends "layout.njk" %}

{% set url = "/posts" %}
{% set title = "Posts" %}

{% block content %}
  <div class="page">
    <div class="posts">
      <ol>
        {% for page in pages | selectByField("blogPost") | sort(true, false, "fields.date") | sort(true, false, "fields.pinned") %}
          <li>
            <time datetime="{{ page.fields.date | dateToUTC }}">
              {{ page.fields.date }}
            </time>
            <br/>
            <a href="{{ page.fields.url }}">
              {% if page.fields.pinned %}
                <span class="pinned">
                  [Pinned]
                </span>
              {% endif %}
              {{ page.fields.title }}
            </a>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
