extends ../../global/pug/layouts/default

block append variables
  - var title = 'A Place in the Alphabet | Nathan Buchar - Software Engineer';
  
block append head
  meta(name='date' content='Nov. 9, 2018')

block append scripts
  script(src='index.js')

block content
  include:markdown-it(linkify breaks html typographer) index.md
