extends /common/html/layouts/default

block append variables
  - title = 'A Place in the Alphabet | Nathan Buchar - Software Engineer';
  
block append head
  meta(name='date' content='Nov. 9, 2018')

block content
  include:md index.md
