extends /common/pug/layouts/default

block append variables
  - title = 'A place in the alphabet | Nathan Buchar - Software Engineer';

block append head
  meta(name='date' content='Nov. 9, 2018')

block content
  include:markdown(anchors) index.md
