extends /common/pug/layouts/default

block append variables
  - title = 'Test | Nathan Buchar - Software Engineer';
  - includeFooter = false;

block content
  button#toggle-grid-btn Toggle grid
  include:markdown(anchors) index.md
