block variables
  - let siteName = 'Nathan Buchar – Frontend software engineer'
  - let description = 'Nathan Buchar is a lead frontend software engineer at Dropbox.'
  - let googleAnalyticsMeasurementId = 'UA-135513290-1'
  - let keywords = ['nathan buchar', 'frontend', 'software engineer', 'senior', 'engineer', 'web developer'];
  - let title = null
