block variables
  - let title = 'Nathan Buchar - Software Engineer';
  - let description = 'Nathan Buchar is a senior frontend software engineer at Dropbox.';
  - let keywords = ['nathan buchar', 'frontend', 'software engineer', 'senior', 'engineer', 'web developer'];
  - let includeFooter = true;
