extends /common/pug/layouts/default

block append variables
  - title = 'Automatically uploading the daily NYT crossword to the Ratta Supernote | Nathan Buchar - Software Engineer';

block content
  include:markdown-it index.md
